.istoric-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.istoric-navbar {
  width: 100%;
  height: 116px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.istoric-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.istoric-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.istoric-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.istoric-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.istoric-icon {
  width: 36px;
  height: 36px;
}
.istoric-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.istoric-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.istoric-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.istoric-link03 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.istoric-link04 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.istoric-link05 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.istoric-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.istoric-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.istoric-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.istoric-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.istoric-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.istoric-icon02 {
  width: 24px;
  height: 24px;
}
.istoric-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.istoric-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.istoric-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.istoric-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.istoric-link09 {
  text-decoration: none;
}
.istoric-banner {
  width: 100%;
  height: 94px;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.istoric-text {
  font-size: 3rem;
  text-align: center;
}
.istoric-text01 {
  margin: var(--dl-space-space-tenunits);
}
.istoric-image1 {
  width: 532px;
  height: 478px;
  object-fit: cover;
}
.istoric-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.istoric-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.istoric-link10 {
  display: contents;
}
.istoric-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.istoric-link11 {
  display: contents;
}
.istoric-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.istoric-link12 {
  display: contents;
}
.istoric-icon08 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.istoric-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.istoric-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 767px) {
  .istoric-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .istoric-icon {
    fill: var(--dl-color-gray-white);
  }
  .istoric-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .istoric-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .istoric-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
